# Mid Bootcamp Project

In [116]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline 

import numpy as np
pd.set_option('display.max_columns', 20)
#pd.set_option('display.max_rows', None)  # Show all rows

# Here, I will be perforing Data Exploratory Analysis and cleaning the Data

In [117]:
data = pd.read_csv('../data/raw/Season 2022_2023 Football Summer Transfers.csv')
data

,Player Name,Player Position,Player Age,Player Market Value (M),Country Playing in,Current League,Club,Country Moving to,New League,Club Moving to,Fees Paid for Player (M),On Loan
0,Erling Haaland,Centre-Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60,No
1,Antony,Right Winger,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95,No
2,Wesley Fofana,Centre-Back,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80,No
3,Aurélien Tchouameni,Defensive Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80,No
4,Darwin Núñez,Centre-Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Luke Freeman,Attacking Midfield,30,1,England,Championship,Sheffield United,England,Championship,Luton Town,0,No
1996,Antoine Leautey,Right Winger,26,1,Portugal,Liga Portugal,Gil Vicente FC,France,Ligue 2,Amiens SC,0,No
1997,Kal Naismith,Centre-Back,30,1,England,Championship,Luton Town,England,Championship,Bristol City,0,No
1998,Alireza Beiranvand,Goalkeeper,29,1,Belgium,Jupiler Pro League,Royal Antwerp FC,Iran,Persian Gulf Pro League,Persepolis FC,0,No
1999,Xeber Alkain,Right Winger,25,1,Spain,Primera Federación - Gr. II,Real Sociedad B,Spain,LaLiga2,Deportivo Alavés,0,No

In [118]:
data.shape

(2000, 12)

In [119]:
data.describe()

        Player Age  Player Market Value (M)  Fees Paid for Player (M)
count  2000.000000              2000.000000               2000.000000
mean     25.179500                 5.447500                  2.970500
std       3.869854                 8.425422                  7.943436
min      16.000000                 0.000000                  0.000000
25%      22.000000                 2.000000                  0.000000
50%      25.000000                 3.000000                  0.000000
75%      28.000000                 5.000000                  2.000000
max      37.000000               150.000000                 95.000000

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Player Name               2000 non-null   object
 1   Player Position           2000 non-null   object
 2   Player Age                2000 non-null   int64
 3   Player Market Value (M)   2000 non-null   int64
 4   Country Playing in        1999 non-null   object
 5   Current League            2000 non-null   object
 6   Club                      2000 non-null   object
 7   Country Moving to         2000 non-null   object
 8   New League                2000 non-null   object
 9   Club Moving to            2000 non-null   object
 10  Fees Paid for Player (M)  2000 non-null   int64
 11  On Loan                   2000 non-null   object
dtypes: int64(3), object(9)
memory usage: 187.6+ KB

In [121]:
data.columns

Index(['Player Name', 'Player Position', 'Player Age',
       'Player Market Value (M)', 'Country Playing in', 'Current League',
       'Club', 'Country Moving to', 'New League', 'Club Moving to',
       'Fees Paid for Player (M)', 'On Loan'],
      dtype='object')

In [122]:
data.isna().sum()

Player Name                 0
Player Position             0
Player Age                  0
Player Market Value (M)     0
Country Playing in          1
Current League              0
Club                        0
Country Moving to           0
New League                  0
Club Moving to              0
Fees Paid for Player (M)    0
On Loan                     0
dtype: int64

# I will be using the snake case for the columns

In [123]:
data.columns = data.columns.str.lower()    #Changing the columns to lowercase
data.columns

Index(['player name', 'player position', 'player age',
       'player market value (m)', 'country playing in', 'current league',
       'club', 'country moving to', 'new league', 'club moving to',
       'fees paid for player (m)', 'on loan'],
      dtype='object')

In [124]:
data.columns = data.columns.str.replace(' ', '_')   #I replace the whitspace with underscores
data.columns

Index(['player_name', 'player_position', 'player_age',
       'player_market_value_(m)', 'country_playing_in', 'current_league',
       'club', 'country_moving_to', 'new_league', 'club_moving_to',
       'fees_paid_for_player_(m)', 'on_loan'],
      dtype='object')

In [125]:
Missing = data['country_playing_in'].isna()

# use the Missing to subset the DataFrame and only show rows where the NaN value occurs
missing_value = data.loc[Missing]
missing_value

,player_name,player_position,player_age,player_market_value_(m),country_playing_in,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player_(m),on_loan
1264,Jemerson,Centre-Back,29,2,NaN,Without League,Without Club,Brazil,Série A,Clube Atlético Mineiro,0,No

In [126]:
# Will be dropping the row because the row is not really important
data = data.dropna()
data

,player_name,player_position,player_age,player_market_value_(m),country_playing_in,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player_(m),on_loan
0,Erling Haaland,Centre-Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60,No
1,Antony,Right Winger,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95,No
2,Wesley Fofana,Centre-Back,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80,No
3,Aurélien Tchouameni,Defensive Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80,No
4,Darwin Núñez,Centre-Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Luke Freeman,Attacking Midfield,30,1,England,Championship,Sheffield United,England,Championship,Luton Town,0,No
1996,Antoine Leautey,Right Winger,26,1,Portugal,Liga Portugal,Gil Vicente FC,France,Ligue 2,Amiens SC,0,No
1997,Kal Naismith,Centre-Back,30,1,England,Championship,Luton Town,England,Championship,Bristol City,0,No
1998,Alireza Beiranvand,Goalkeeper,29,1,Belgium,Jupiler Pro League,Royal Antwerp FC,Iran,Persian Gulf Pro League,Persepolis FC,0,No
1999,Xeber Alkain,Right Winger,25,1,Spain,Primera Federación - Gr. II,Real Sociedad B,Spain,LaLiga2,Deportivo Alavés,0,No

In [127]:
data.isna().sum()

player_name                 0
player_position             0
player_age                  0
player_market_value_(m)     0
country_playing_in          0
current_league              0
club                        0
country_moving_to           0
new_league                  0
club_moving_to              0
fees_paid_for_player_(m)    0
on_loan                     0
dtype: int64

In [128]:
p_counts = data['player_position'].value_counts()

# print the country counts
print(p_counts)

player_position
Centre-Forward        378
Centre-Back           318
Central Midfield      273
Left Winger           182
Attacking Midfield    156
Defensive Midfield    151
Right Winger          144
Left-Back             140
Right-Back            121
Goalkeeper            101
Second Striker         13
Right Midfield         11
Left Midfield           9
defence                 1
attack                  1
Name: count, dtype: int64

# Changing the column names here to something that will be easily understood.

In [129]:


data = pd.DataFrame(data)  # convert data to a pandas dataframe

# renaming the columns
data = data.rename(columns={
    'player_name': 'name',
    'player_position': 'position',
    'player_age': 'age',
    'player_market_value_(m)': 'market_value',
    'country_playing_in': 'country_playing',
    'current_league': 'current_league',
    'club': 'club',
    'country_moving_to': 'country_moving_to',
    'new_league': 'new_league',
    'club_moving_to': 'club_moving_to',
    'fees_paid_for_player_(m)': 'fees_paid_for_player',
    'on_loan': 'on_loan'
})

In [130]:
data

,name,position,age,market_value,country_playing,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player,on_loan
0,Erling Haaland,Centre-Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60,No
1,Antony,Right Winger,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95,No
2,Wesley Fofana,Centre-Back,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80,No
3,Aurélien Tchouameni,Defensive Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80,No
4,Darwin Núñez,Centre-Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Luke Freeman,Attacking Midfield,30,1,England,Championship,Sheffield United,England,Championship,Luton Town,0,No
1996,Antoine Leautey,Right Winger,26,1,Portugal,Liga Portugal,Gil Vicente FC,France,Ligue 2,Amiens SC,0,No
1997,Kal Naismith,Centre-Back,30,1,England,Championship,Luton Town,England,Championship,Bristol City,0,No
1998,Alireza Beiranvand,Goalkeeper,29,1,Belgium,Jupiler Pro League,Royal Antwerp FC,Iran,Persian Gulf Pro League,Persepolis FC,0,No
1999,Xeber Alkain,Right Winger,25,1,Spain,Primera Federación - Gr. II,Real Sociedad B,Spain,LaLiga2,Deportivo Alavés,0,No

In [131]:
p_counts = data['new_league'].value_counts()

# print the country counts
print(p_counts.to_string())

new_league
Serie A                        214
Premier League                 136
LaLiga                         135
Ligue 1                        134
Bundesliga                     131
Championship                   111
Süper Lig                      102
Serie B                         90
Eredivisie                      74
Jupiler Pro League              68
Liga Portugal                   67
Série A                         55
Liga MX Apertura                53
LaLiga2                         52
Premier Liga                    46
MLS                             45
2. Bundesliga                   42
Super League 1                  40
Ligue 2                         35
Super League                    30
Professional League             29
Liga Profesional                23
Superligaen                     21
Premiership                     16
UAE Pro League                  15
Ekstraklasa                     14
Protathlima Cyta                13
League One                      13
Série B                         12
Fortuna Liga                    12
SuperSport HNL                  12
SuperLiga                       12
Stars League                    12
1.Lig                           11
Super liga Srbije               11
Without League                   8
J1 League                        7
Ligat ha'Al                      7
Primera División                 6
Liga DIMAYOR II                  5
Allsvenskan                      5
Challenger Pro League            5
efbet Liga                       5
Eliteserien                      5
Liga Sabseg                      4
Persian Gulf Pro League          4
NB I.                            4
Primavera 1                      4
K League 1                       3
A-League Men                     3
Primera División Clausura        3
Virsliga                         2
Primera Federación - Gr. II      2
Primera Federación - Gr. I       2
Prva Liga                        2
1.Division                       2
Serie C - C                      2
Premier League 2                 2
League Two                       2
DStv Premiership                 2
K League 2                       1
Crystalbet Erovnuli Liga         1
U19-BL S/SW                      1
Keuken Kampioen Divisie          1
J2 League                        1
Botola Pro Inwi                  1
U18 Premier League               1
U17-Bundesliga Süd/Südwest       1
Challenge League                 1
3 Liga - Group IV                1
Serie A Segunda Etapa            1
N 3 - Corse-Méditer.             1
Liga 1                           1
3. Liga                          1
Ligue I Pro                      1
Regionalliga Bayern              1
Regionalliga Südwest             1

# Here, I changed the value of every league in the dataset that has a count of 1-10 to 'other'. Now, we have a total of 113 values with other

In [132]:
league_counts = data['new_league'].value_counts()

# Find the leagues with count <= 10 and replace them with 'other'
other_mask = league_counts <= 10
data['new_league'] = data['new_league'].apply(lambda x: 'Other' if other_mask.loc[x] else x)

# Print the updated value counts
print(data['new_league'].value_counts())

new_league
Serie A                214
Premier League         136
LaLiga                 135
Ligue 1                134
Bundesliga             131
Other                  113
Championship           111
Süper Lig              102
Serie B                 90
Eredivisie              74
Jupiler Pro League      68
Liga Portugal           67
Série A                 55
Liga MX Apertura        53
LaLiga2                 52
Premier Liga            46
MLS                     45
2. Bundesliga           42
Super League 1          40
Ligue 2                 35
Super League            30
Professional League     29
Liga Profesional        23
Superligaen             21
Premiership             16
UAE Pro League          15
Ekstraklasa             14
Protathlima Cyta        13
League One              13
Stars League            12
Fortuna Liga            12
Série B                 12
SuperSport HNL          12
SuperLiga               12
Super liga Srbije       11
1.Lig                   11
Name: count, dtype: int64

In [133]:
data

,name,position,age,market_value,country_playing,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player,on_loan
0,Erling Haaland,Centre-Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60,No
1,Antony,Right Winger,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95,No
2,Wesley Fofana,Centre-Back,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80,No
3,Aurélien Tchouameni,Defensive Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80,No
4,Darwin Núñez,Centre-Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Luke Freeman,Attacking Midfield,30,1,England,Championship,Sheffield United,England,Championship,Luton Town,0,No
1996,Antoine Leautey,Right Winger,26,1,Portugal,Liga Portugal,Gil Vicente FC,France,Ligue 2,Amiens SC,0,No
1997,Kal Naismith,Centre-Back,30,1,England,Championship,Luton Town,England,Championship,Bristol City,0,No
1998,Alireza Beiranvand,Goalkeeper,29,1,Belgium,Jupiler Pro League,Royal Antwerp FC,Iran,Other,Persepolis FC,0,No
1999,Xeber Alkain,Right Winger,25,1,Spain,Primera Federación - Gr. II,Real Sociedad B,Spain,LaLiga2,Deportivo Alavés,0,No

# Here, I decided to reduce the number of values in the position column by categorizing them as shown below;

In [134]:
def map_position(position):
    if position in ['Centre-Forward', 'Left Winger', 'Right Winger', 'Second Striker', 'attack']:
        return 'Forward'
    elif position in ['Central Midfield', 'Attacking Midfield', 'Defensive Midfield', 'Right Midfield', 'Left Midfield']:
        return 'Midfield'
    elif position in ['Centre-Back', 'Left-Back', 'Right-Back', 'defence']:
        return 'Defence'
    elif position == 'Goalkeeper':
        return 'Goalkeeper'
    else:
        return position

data['position'] = data['position'].apply(map_position)

In [135]:
data

,name,position,age,market_value,country_playing,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player,on_loan
0,Erling Haaland,Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60,No
1,Antony,Forward,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95,No
2,Wesley Fofana,Defence,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80,No
3,Aurélien Tchouameni,Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80,No
4,Darwin Núñez,Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Luke Freeman,Midfield,30,1,England,Championship,Sheffield United,England,Championship,Luton Town,0,No
1996,Antoine Leautey,Forward,26,1,Portugal,Liga Portugal,Gil Vicente FC,France,Ligue 2,Amiens SC,0,No
1997,Kal Naismith,Defence,30,1,England,Championship,Luton Town,England,Championship,Bristol City,0,No
1998,Alireza Beiranvand,Goalkeeper,29,1,Belgium,Jupiler Pro League,Royal Antwerp FC,Iran,Other,Persepolis FC,0,No
1999,Xeber Alkain,Forward,25,1,Spain,Primera Federación - Gr. II,Real Sociedad B,Spain,LaLiga2,Deportivo Alavés,0,No

In [136]:
p_counts = data['position'].value_counts()

# print the country counts
print(p_counts)

position
Forward       718
Midfield      600
Defence       580
Goalkeeper    101
Name: count, dtype: int64

In [137]:
p_counts = data['country_playing'].value_counts()

# print the country counts
print(p_counts)

country_playing
England                 278
Italy                   277
France                  190
Spain                   186
Germany                 177
Portugal                 94
Turkey                   76
Brazil                   68
Belgium                  65
Netherlands              53
Russia                   50
Mexico                   50
Argentina                41
United States            33
Greece                   28
Denmark                  22
Croatia                  21
Switzerland              19
Austria                  19
Saudi Arabia             18
Romania                  17
Ukraine                  17
Serbia                   14
Czech Republic           13
Sweden                   12
Poland                   12
Monaco                   11
Uruguay                  11
Colombia                 10
United Arab Emirates     10
Scotland                 10
Ecuador                   9
Egypt                     8
Japan                     8
Norway                    7
Bulgaria                  6
Wales                     6
Hungary                   5
Israel                    5
Qatar                     5
China                     5
Chile                     4
Canada                    4
Paraguay                  3
Kazakhstan                2
Moldova                   2
Slovenia                  2
Belarus                   2
Georgia                   2
Korea, South              2
Costa Rica                1
Slovakia                  1
Nigeria                   1
South Africa              1
Cote d'Ivoire             1
Cyprus                    1
Algeria                   1
Luxembourg                1
Morocco                   1
Azerbaijan                1
Name: count, dtype: int64

In [138]:
duplicates = data.duplicated()
duplicates.value_counts()

False    1997
True        2
Name: count, dtype: int64

In [139]:
duplicates = data.duplicated(keep=False)
duplicated_rows = data[duplicates]
duplicated_rows

,name,position,age,market_value,country_playing,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player,on_loan
976,Hernani,Midfield,28,3,Italy,Serie B,Parma Calcio 1913,Italy,Serie B,Reggina 1914,0,Yes
977,Hernani,Midfield,28,3,Italy,Serie B,Parma Calcio 1913,Italy,Serie B,Reggina 1914,0,Yes
1661,Cristian Ortíz,Forward,29,2,Mexico,Liga MX Apertura,Club Tijuana,Argentina,Liga Profesional,Defensa y Justicia,0,Yes
1662,Cristian Ortíz,Forward,29,2,Mexico,Liga MX Apertura,Club Tijuana,Argentina,Liga Profesional,Defensa y Justicia,0,Yes

In [140]:
data.drop_duplicates(keep='first', inplace=True)

In [141]:
duplicated_rows = data[duplicates]
duplicated_rows

C:\Users\Admin\AppData\Local\Temp\ipykernel_7532\3393414921.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicated_rows = data[duplicates]

,name,position,age,market_value,country_playing,current_league,club,country_moving_to,new_league,club_moving_to,fees_paid_for_player,on_loan
976,Hernani,Midfield,28,3,Italy,Serie B,Parma Calcio 1913,Italy,Serie B,Reggina 1914,0,Yes
1661,Cristian Ortíz,Forward,29,2,Mexico,Liga MX Apertura,Club Tijuana,Argentina,Liga Profesional,Defensa y Justicia,0,Yes

In [143]:
data.to_csv('clean_data.csv', index=False)